.contact-h {
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 2.5rem 0rem;
}

.form-box {
  background-color: rgb(0, 0, 0, 0.4);
  width: 35rem;
  padding: 2rem;
  border-radius: 20px;
  margin: 2rem;
  text-align: center;
  align-items: center;
  margin-left: calc(50% - 17.5rem);
}

.contact-input {
  font-size: 1.1rem;
  color: white;
  background: transparent;
  border: 1px solid rgb(255, 255, 255, 0.4);
  width: 85%;
  border-radius: 15px;
  padding: 0.8rem;
  margin: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact-textarea {
  background: transparent;
  border: 1px solid rgb(255, 255, 255, 0.4);
  width: 85%;
  border-radius: 15px;
  padding: 0.8rem;
  margin: 1.2rem;
  font-size: 1.1rem;
  color: white;
}
.contact-submit {
  margin: 1rem;
  background-color: white;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 85%;
  border-radius: 10px;
  transition: 0.5s;
}
.contact-submit:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
}

textarea::placeholder{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 660px) {
  .contact-h {
    font-size: 2rem;
  }
  .form-box {
    width: 30rem;
    margin-left: calc(50% - 15rem);
  }
}

@media only screen and (max-width: 540px) {
  .contact-h {
    font-size: 1.8rem;
  }
  .form-box {
    width: 26rem;
    margin-left: calc(50% - 13rem);
    padding: 1.5rem;
  }
  .contact-input, .contact-textarea{
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 460px) {
  .contact-h {
    font-size: 1.6rem;
  }
  .form-box {
    width: 22rem;
    margin-left: calc(50% - 11.5rem);
    padding: 1.5rem;
  }
  .contact-input, .contact-textarea{
    width: 100%;
    margin-left: 0;
  }
}
