h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06d85f;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06d85f;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06d85f;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #fff;
  font-family: Tahoma, Arial, sans-serif;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 1rem;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: white;
}
.popup .content {
  overflow: auto;
}
.content {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.form-inline {
  display: inline-block;
  text-align: center;
  align-items: center;
}
.form-row {
  width: 100%;
  margin: 0.3rem 0rem;
}
.container1,.container2,.container3{
  border: 1px solid white;
  padding: 0.5rem;
  width: 40%;
  display: inline-block;
  border-radius:20px;
  padding-left: 1.5rem;
  margin: 0rem 0.5rem
}

.container3{
  margin-top: 2rem;
}
.gold{
  color: gold;
}
.silver{
  color: silver;
}
.bronze{
  color: brown;
}
@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.book-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  margin: 0.5rem;
  width: 20rem;
}
.book-input option {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}
select {
  color: white;
}
#date-input {
  color: white;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.book-submit {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 1rem;
  width: 10rem;
  transition: 0.5s;
}

.book-submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.outer-container {
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.planet-img {
  width: 50rem;
  height: 30rem;
  margin-top: 6rem;
}
.planet-name {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin: 2.5rem;
  font-weight: 600;
}

.planet-about {
  font-size: 1.3rem;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  width: 60%;
  margin: 2rem;
  margin-left: 20%;
}

.info {
  width: 20rem;
}

.receipt-row {
  text-align: left;
  margin: 0.5rem 0rem;
}
#numberInput,
#passengerInput {
  color: white;
}
textarea {
  color: white;
}
.btn-container {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.book-btn {
  border: none;
  padding: 1rem;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  transition: 0.3s;
}
.book-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
