.proc-h {
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.box {
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  margin-left: 8%;
}

.box ul li {
  font-size: 1.2rem;
  padding: 0.8rem;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.list-button {
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  background-color: rgb(0, 0, 0, 0.8);
  border: none;
  font-size: 1.1rem;
  margin: 0rem 0.5rem;
}
.list-button:hover {
  cursor: pointer;
}
